# =========================
# Android Studio / IntelliJ
# =========================
.idea/
*.iml

# =========================
# Gradle
# =========================
.gradle/
build/
*/build/

# =========================
# Local configuration
# =========================
local.properties

# =========================
# Android build outputs
# =========================
app/release/
captures/
.externalNativeBuild/
.cxx/

# =========================
# OS / Editor junk
# =========================
.DS_Store
Thumbs.db

# =========================
# Misc
# =========================
classes.jar

# Firebase
app/google-services.json

# Local config
local.properties
*.jks
*.keystore
*.p12
*.pem
.env

